/* EL NOMBRE DEL ARCHIVO ES: GruposModal.css */

/* General del modal */
.grupos-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    max-height: 90vh; /* Limitar altura máxima */
    overflow-y: auto; /* Activar el scroll vertical */
    scrollbar-width: thin; /* Estilizar el scroll en navegadores modernos */
    scrollbar-color: #003366 #f0f0f0; /* Colores del scroll */
  }
  
  /* Personalización del scroll para navegadores basados en WebKit */
  .grupos-modal-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .grupos-modal-content::-webkit-scrollbar-thumb {
    background: #003366;
    border-radius: 10px;
  }
  
  .grupos-modal-content::-webkit-scrollbar-thumb:hover {
    background: #0055aa;
  }
  
  .grupos-modal-content::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  /* Icono del modal */
  .grupos-modal-icon {
    font-size: 4rem;
    color: #333333;
    margin-bottom: 20px;
  }
  
  /* Título del modal */
  .grupos-modal-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
  }
  
  /* Inputs */
  .grupos-modal-inputs {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .grupos-modal-inputs label {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 5px;
    display: block;
  }
  
  .grupos-input {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  /* Select */
  .select-categoria {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    appearance: none;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
  }
  
  .select-categoria:hover {
    border-color: #888888;
  }
  
  .select-categoria:focus {
    outline: none;
    border-color: #0055aa;
  }
  
  .select-categoria option {
    font-size: 1rem;
    color: #333333;
    background-color: #ffffff;
  }
  
  /* Botones */
  .grupos-modal-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .grupos-button-primary {
    background-color: #003366;
    color: white;
    margin-bottom: 10px;
  }
  