/* General del modal */
.materia-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    max-height: 90vh; /* Limitar altura máxima */
    overflow-y: auto; /* Activar el scroll vertical */
    scrollbar-width: thin; /* Estilizar el scroll en navegadores modernos */
    scrollbar-color: #003366 #f0f0f0; /* Colores del scroll */
  }
  
  /* Personalización del scroll para navegadores basados en WebKit */
  .materia-modal-content::-webkit-scrollbar {
    width: 8px; /* Ancho del scroll */
  }
  
  .materia-modal-content::-webkit-scrollbar-thumb {
    background: #003366; /* Color del scroll */
    border-radius: 10px; /* Bordes redondeados del thumb */
  }
  
  .materia-modal-content::-webkit-scrollbar-thumb:hover {
    background: #0055aa; /* Color del scroll al pasar el mouse */
  }
  
  .materia-modal-content::-webkit-scrollbar-track {
    background: #f0f0f0; /* Color del fondo del track */
  }
  
  /* Estilos adicionales para mantener consistencia */
  .materia-modal-icon {
    font-size: 4rem;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .materia-modal-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .materia-modal-inputs {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .materia-modal-inputs label {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 5px;
    display: block;
  }
  
  .materia-input {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  /* Estilo general del select */
  .select-categoria {
    width: 100%;
    padding: 8px 12px; /* Ajustar el espacio interno */
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    border: 1px solid #cccccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto gris oscuro */
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    margin-bottom: 15px; /* Separación inferior */
    transition: border-color 0.3s ease; /* Animación para el borde */
  }
  
  .select-categoria:hover {
    border-color: #888888; /* Cambiar el color del borde al pasar el mouse */
  }
  
  .select-categoria:focus {
    outline: none; /* Elimina el contorno predeterminado */
    border-color: #0055aa; /* Cambiar el borde al enfocar */
  }
  
  .select-categoria option {
    font-size: 1rem;
    color: #333333;
    background-color: #ffffff;
  }
  