/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e3a47; /* Ajuste de color según la imagen de referencia */
  padding: 10px 20px;
  color: #ffffff;
}

.navbar-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
}

.login-button {
  background-color: #ffffff;
  color: #2e3a47;
  border-radius: 15px;
  padding: 5px 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Estilos para el título y contenedor de tarjetas */
.page-title {
  text-align: center;
  font-size: 2rem;
  color: #2e3a47;
  margin-top: 20px;
  font-weight: bold;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
  max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor en la página */
}
