/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e3a8a;
    padding: 10px 20px;
    color: #ffffff;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
  }
  
  .navbar-links {
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .login-button {
    background-color: #ffffff;
    color: #1e3a8a;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  